<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chats</title>
</head>
<body>
    <h2>Chat Edit Page</h2>
    <p>ID: <%= chat._id %></p>
    <p>Sender: <%= chat.from %> Receiver: <%= chat.to %></p>
    <form method="post" action="/chats/<%= chat._id%>?_method=put">
        <textarea name="msg"  cols="30" rows="10"><%= chat.msg %></textarea><br>
        <button>Save</button>
    </form>
    
</body>
</html>